<div class="topbar">
  <div class="clickable" (click)="backClicked()">
    <img src="assets/icon8.png" />
  </div>
  <div>버킷리스트</div>
  <div class="clickable" (click)="save()">완료</div>
</div>
<div
  id="map3"
  style="width: 100%; height: 50vh; border-bottom: 2px solid #e6e6e6"
></div>

<clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
<form class="myform" [formGroup]="formGroup" clrForm clrLayout="horizontal">
    <input
      type="text"
      class="myinput"
      formControlName="name"
      placeholder="버킷리스트"
    />
    <input
      type="text"
      class="myinput"
      formControlName="place"
      placeholder="위치 추가"
      (ngModelChange)="findByName($event)"
    />
    <clr-range-container [clrRangeHasProgress]="true">
        <label>{{formGroup.value.progress}}%</label>
        <input type="range" clrRange formControlName="progress" name="progress" [step]="10" />
    </clr-range-container>
    <div class="memo">MEMO</div>
    <textarea formControlName="memo" name="description"></textarea>
    <div class="story">스토리</div>
    <div class="card">
      <input type="text" formControlName="stories" />
    </div>
</form>
