<div *ngIf="sharedService.view as view">
    <div class="navigation" *ngIf="view !== 'form'">
        <div class="item" (click)="explore()">
            <img src="assets/icon1.png" *ngIf="view === 'explore'">
            <img src="assets/icon2.png" *ngIf="view === 'mypage'">
        </div>
        <div class="item" (click)="add()">
            <img src="assets/icon3.png">
        </div>
        <div class="item" (click)="mypage()">
            <img src="assets/icon5.png" *ngIf="view === 'explore'">
            <img src="assets/icon4.png" *ngIf="view === 'mypage'">
        </div>
    </div>
</div>